/**
 * <Header /> styles
 */

.img {
  width: 48px;
  transform: rotate(0deg);
  transition: transform 0.2s ease-out 0s;
}

$rotate: 8deg;

.left {
  composes: img;
  transform-origin: center right;

  .main:hover & {
    transform: rotate($rotate);
  }
}

.right {
  composes: img;
  transform-origin: center left;

  .main:hover & {
    transform: rotate(-$rotate);
  }
}


.main {
  color: black;
  font-size: 1.25rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
}
