/**
 * <ColorPicker />
 */

@import "../../style/position";

$Color: (#f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);

@mixin make-linear-gradient($direction, $colors) {
  $length: length($colors);
  $acc: ();
  @for $i from 1 through $length {
    $color: nth($colors, $i);
    $offset: percentage(100 / ($length - 1) * ($i - 1) / 100);
    $acc: append($acc, ($color $offset), comma);
  }
  background-image: linear-gradient($direction, $acc);
}

$ColorPickerWidth: 240;
$ColorPickerBoxHeight: $ColorPickerWidth / 1.618;
$ColorPickerCursorSize: 16;

@value boxWidth: #{$ColorPickerWidth};
@value boxHeight: #{$ColorPickerBoxHeight};
@value cursorSize: #{$ColorPickerCursorSize};

.main {
  width: #{$ColorPickerWidth}px;
}

.box {
  position: relative;
  height: #{$ColorPickerWidth / 1.618}px;
  line-height: 0;
  user-select: none;
}

.bar {
  @include make-linear-gradient(to right, $Color);
}

.hsl {
  @include make-position-fill(a);
  z-index: 1;
  // background-image: linear-gradient(to right, white, transparent);
  background-image: linear-gradient(to bottom,
                                    hsla(0, 0%, 100%, 1) 0%,
                                    hsla(0, 0%, 100%, 0) 50%,
                                    hsla(0, 0%, 0%, 0) 50%,
                                    hsla(0, 0%, 0%, 1) 100%
                                   ),
  linear-gradient(to right,
                  hsla(0, 0%, 50%, 1) 0%,
                  hsla(0, 0%, 50%, 0) 100%);
}

.hue {
  @include make-position-fill(a);
  background-color: #f00;
}

.cursor {
  position: absolute;
  width: #{$ColorPickerCursorSize}px;
  height: #{$ColorPickerCursorSize}px;
  border: 2px solid #ddd;
  border-radius: 50%;
  z-index: 1;
  user-select: none;
}

.color {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #eee;
}
