/**
 * <ColorPicker />
 */

@import "../../style/position";

$Color: (#f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);

@mixin make-linear-gradient($direction, $colors) {
  $length: length($colors);
  $acc: ();
  @for $i from 1 through $length {
    $color: nth($colors, $i);
    $offset: percentage(100 / ($length - 1) * ($i - 1) / 100);
    $acc: append($acc, ($color $offset), comma);
  }
  background-image: linear-gradient($direction, $acc);
}

$ColorPickerWidth: 240;
$ColorPickerBoxHeight: $ColorPickerWidth / 1.618;
$ColorPickerCursorSize: 16;

@value boxWidth: #{$ColorPickerWidth};
@value boxHeight: #{$ColorPickerBoxHeight};
@value cursorSize: #{$ColorPickerCursorSize};

.main {
  width: #{$ColorPickerWidth}px;
}

.box {
  position: relative;
  height: #{$ColorPickerWidth / 1.618}px;
  line-height: 0;
  user-select: none;
}

.bar {
  &-hue {
    @include make-linear-gradient(to right, $Color);
  }
  &-alpha {
    background-color: transparent;
    background-image: linear-gradient(to right,
                                      hsla(0, 100%, 50%, 0) 0%,
                                      hsla(0, 100%, 50%, 1) 100%)
  }
}

.alpha {
  @include make-position-fill(x);
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  height: 8px;
  user-select: none;
  background: linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), rgb(255, 255, 255);
  background-position: 0 0, 4px 4px;
  background-size: 8px 8px;
  z-index: -1;
}

.hsl {
  @include make-position-fill(a);
  z-index: 1;
  background-image: linear-gradient(to bottom,
                                    hsla(0, 0%, 100%, 1) 0%,
                                    hsla(0, 0%, 100%, 0) 50%,
                                    hsla(0, 0%, 0%, 0) 50%,
                                    hsla(0, 0%, 0%, 1) 100%
                                   ),
  linear-gradient(to right,
                  hsla(0, 0%, 50%, 1) 0%,
                  hsla(0, 0%, 50%, 0) 100%);
}

.hue {
  @include make-position-fill(a);
  background-color: #f00;
}

.cursor {
  position: absolute;
  border-radius: 50%;
  width: #{$ColorPickerCursorSize}px;
  height: #{$ColorPickerCursorSize}px;
  z-index: 1;
  user-select: none;
  border: 1px solid #ddd;
  box-shadow: var(--shadow3);
  &-box {
    border: 2px solid lightgray;
    background-color: transparent;
  }
  &-slider {
    background-color: white;
  }
}

$ColorPickerPreviewSize: 2.5rem;

.preview {
  width: $ColorPickerPreviewSize;
  height: $ColorPickerPreviewSize;
  border-radius: 50%;
  background-color: #eee;
}

.field {
  font-size: 12px;
  text-align: center;
}
