{
  "presets": [
    "@babel/preset-flow",
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true,
          "node": true
        },
        "modules": false,
        "loose": true
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-proposal-class-properties", {
      "loose": true
    }],
    "@babel/plugin-syntax-dynamic-import",
    "react-hot-loader/babel",
    "@rabbitcc/log/inject-position"
  ],
  "env": {
    "development": {
      "plugins": [
        ["@rabbitcc/babel/remove-test", {
          "include": [
            "enzyme",
            "enzyme-adapter-react-16"
          ]
        }]
      ]
    },
    "test": {
      "presets": [
        "power-assert"
      ],
      "plugins": [
        "@babel/plugin-transform-modules-commonjs",
        // ["babel-plugin-webpack-alias", {
        //   "config": "./script/webpack/website.js"
        // }]
      ]
    },
    "production": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": true,
              "browsers": ["last 2 versions", "ie >= 9"]
            },
            "modules": false,
            "loose": true,
            "useBuiltIns": "usage",
            "debug": false
          }
        ]
      ],
      "plugins": [
        ["@rabbitcc/babel/remove-test", {
          "include": [
            "sinon",
            "enzyme",
            "enzyme-adapter-react-16"
          ]
        }],
        ["@babel/plugin-transform-runtime", {
          "corejs": 2
        }]
      ]
    }
  }
}
