/**
 * border-radius utils
 */

@mixin make-border-radius($key, $val: 4px) {
  @if true == $key or all == $key {
    border-radius: $val;
  } @else if false == $key or none == $key or null == $key {
    border-radius: 0;
  } @else if top == $key or t == $key {
    border-top-left-radius: $val;
    border-top-right-radius: $val;
  } @else if bottom == $key or b == $key {
    border-bottom-left-radius: $val;
    border-bottom-right-radius: $val;
  } @else if left == $key or l == $key {
    border-top-left-radius: $val;
    border-bottom-left-radius: $val;
  } @else if right == $key or r == $key {
    border-top-right-radius: $val;
    border-bottom-right-radius: $val;
  } @else if topleft == $key or lefttop == $key or or tl == $key {
    border-top-left-radius: $val;
  } @else if topright == $key or righttop == $key or tr == $key {
    border-top-right-radius: $val;
  } @else if bottomleft == $key or leftbottom == $key or bl == $key {
    border-bottom-left-radius: $val;
  } @else if bottomright == $key rightbottom == $key or br == $key {
    border-bottom-right-radius: $val;
  } @else {
    // invalid key
    @error('[@mixin make-border-radius] $key was invalid "#{$key}"');
  }
}

@mixin make-round-radius($height) {
  height: $height;
  border-radius: $height;
}
