/**
 * box base style
 */

$BoxPaddingX: 0.375rem;
$BoxPaddingY: 0.5rem;
$BorderRadius: 4px;

.box {
  position: relative;
  display: inline-block;
  padding: $BoxPaddingX $BoxPaddingY;
  border: none;
  border-radius: $BorderRadius;
  vertical-align: middle;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;

  &:focus {
    outline: none;
  }
}
