/**
 * gloabl styles
 */

@import "~normalize.css";
@import '~sanitize.css';

html,
body,
#app {
  @debug 10em + 12em;
  height: 100%;
}

body {
  font-family: system-ui;
  font-size: 16px;
  line-height: 1.5;
  background-color: #ffffff;
  color: #232323;
}

a {
  text-decoration: none;
  color: inherit;
}
