/**
 * Transition helper, easy set transition with multi properties.
 *
 * @example
 *
 * ```scss
 * @import '@style/transition.scss';
 *
 * .foo {
 *   @include make-transition-props((background-color, color));
 * }
 *
 * // transform to
 *
 * .foo {
 *   transition: background-color 0.28s ease-in-out 0s,
 *               color 0.28s ease-in-out 0s;
 * }
 * ```
 *
 * @prop {List<String>} $props [`()`] - render props
 * @prop {Number} $during [`280ms`] - transition during time
 * @prop {String} $easing [`ease-in-out`] - timing function
 * @prop {Number} $delay [`0s`] - transition delay time
 * @prop {Map<String, Map<{ during: Number, easing: String, delay: Number}>>} $modifier [`()`] - if want to modify some prop's "during", "easeing", or "delay", can set this map override default values
 *
 * @mixin
 */

@mixin make-transition-props($props: (),
                             $during: 280ms,
                             $easing: ease-in-out,
                             $delay: 0s,
                             $modifier: ()) {
  $values: ();
  @each $prop in $props {
    $during: map_get(map_get($modifier, $prop) or (), during) or $during;
    $easing: map_get(map_get($modifier, $prop) or (), easing) or $easing;
    $delay:  map_get(map_get($modifier, $prop) or (), delay) or $delay;
    $values: append($values, #{$prop $during $easing $delay}, comma);
  }

  // render
  transition: $values;
}
