/**
 * <NumberInput /> styles
 */

@import '../../style/position';
@import '../../style/border-radius';

$NumberInputSpinWidth: 0.65rem;

.main {
  @include make-border-radius(a);
  position: relative;
  padding-right: $NumberInputSpinWidth;
  border: 1px solid #ddd;
}

.field {
  composes: number from '@style/reset.css';
  display: block;
  border: none;
}

.spins {
  @include make-position-fill(r);
  width: $NumberInputSpinWidth;
}

.spin {
  @include make-border-radius(n);
  display: block;
  padding: 0;
  border: 0;
  height: 50%;
  line-height: 0;
  background-color: lightgray;

  &-top { @include make-border-radius(tr); }
  &-bottom { @include make-border-radius(br); }
}
