/**
 * <Layout />
 *
 * layout grid styles
 */

$gutter: (
  xs: 0.5rem,
  sm: 1rem,
  md: 1.5rem,
  lg: 2rem,
  xl: 2.5rem
);

.base {
  display: flex;
}

.vertical {
  composes: base;
  flex-direction: column;
}

.grow {
  flex: 1 0 auto;
}

.basic {
  flex: 0 0 auto;
}

@each $size, $value in $gutter {
  .row_#{$size} {
    margin-left: ($value / -2);
    margin-right: ($value / -2);
  }

  .col_#{$size} {
    padding-left: ($value / 2);
    padding-right: ($value / 2);
  }

  .row_v_#{$size} {
    margin-top: ($value / -2);
    margin-bottom: ($value / -2);
  }

  .col_v_#{$size} {
    padding-top: ($value / 2);
    padding-bottom: ($value / 2);
  }
}

/**
 * flex property "justify-content"
 */

$justifycontent: (
  start: flex-start,
  end: flex-end,
  center: center,
  around: space-around,
  between: space-between
);

@each $name, $value in $justifycontent {
  .justifycontent_#{$name} {
    justify-content: $value;
  }
}

/**
 * flex property "align-items"
 */

$alignitems: (
  start: flex-start,
  end: flex-end,
  center: center
);

@each $name, $value in $alignitems {
  .alignitems_#{$name} {
    align-items: $value;
  }
}
