/**
 * <Button /> styles
 */

.main {
  position: relative;
  display: inline-block;
  padding: 0.25rem 1.25rem;
  border: none;
  vertical-align: middle;
  font-size: 14px;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}
