/**
 * <Button /> styles
 */

.main {
  composes: box from '../../style/box.css';
  min-width: 7.5rem;
  vertical-align: middle;
  cursor: pointer;
}

.theme {
  &-primary {
    background-color: var(--primary-color);
    color: #fff;
  }
  &-default {
    background-color: lightgray;
    color: gray;
  }
}
