/**
 * <Button /> styles
 */

.main {
  composes: box from '../../style/box.css';
  vertical-align: middle;
  cursor: pointer;
  background-color: var(--primary-color);
  color: #fff;
  min-width: 8rem;
}
