/**
 * <TextField />
 */

.main {
  position: relative;
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border: 1px solid #ddd;
  border-radius: 2px;
  width: 100%;
  font-family: inherit;
  font-size: 12px;
  color: inherit;
  &:focus {
    outline: none;
  }
}
