/**
 * <Switch /> styles
 */

.main {
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  transition: background-color 0.28s ease-in-out 0s;
  &.off {
    background-color: lightgray;
  }
  &.on {
    background-color: #afcbe6;
  }
}

.container {
  position: relative;
  height: 100%;
}

.cursor {
  position: absolute;
  border-radius: 50%;
  transition: background-color 0.28s ease-in-out 0s, left 0.28s ease-in-out 0s;
  &.off {
    left: 0;
    background-color: darkgray;
  }
  &.on {
    left: 100%;
    background-color: var(--primary-color);
  }
}

.field {
  display: none;
}
