/**
 * <Image />
 *
 * styles
 */

.main {
  padding: 2rem;
  background-color: white;
  box-shadow: 0px 6px 20px -16px #000;
}

.table {
  padding: 0;
}

.header {
  composes: header from '~style/reset.css';
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: lighter;
}

.icon {
  width: 4rem;
  height: 4rem;
}

.name {
  composes: link from '~style/reset.css';
  font-size: 1.25rem;
  font-weight: lighter;
  color: black;
}

.small {
  font-size: 12px;
  color: gray;
}
